.btnInit{
    width: 30%;
    height: 8%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.textField{
    width: 80%;
}

.label{
    width: 80%;
}

img {
    max-width: 100%;
    max-height: 50%;
    height: 50%;
    width: 80% !important;
}
img {
    max-width: 100%;
    max-height: 50%;
    height: 50%;
    width: 80% !important;
}
#imagenesclima{
    max-width: 50%;
    max-height: 50%;
}
#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }
agm-map {
      height: 400px;
 }
 .col-xs-12 col-sm-4 col-md-4 col-lg-4 col-md-offset-4{
  position: relative; /*hace que muevas relativamente su posición*/
  top: 100000px; /*Pixeles arriba de su posición natural (puede ser negativo)*/
  left: 10px; /*Pixeles a la izquierda de su posición natural*/
  right: 10px; /*Pixeles a la derecha de su posición natural*/
}