<div class="container">
  <div class="row" onload="ngOnInit()">
    <div class="col-2">
      <img width="200" height="200" class="img-responsive center" src="assets/img/logo.png" alt="Logo">
    </div>
    <div class="col">
      <div class="col">
            <agm-map   id="mapa" [(latitude)]="lat" [(longitude)]="long">
              <agm-marker title="Your Position" openInfoWindow="true"
                          inconUrl="'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'"
                          [(latitude)]="lat" [(longitude)]="long" >
              </agm-marker>
              <agm-circle  onload="Draw()" *ngFor="let circle of circles" [(latitude)]="circle.coordinate.latitude" [(longitude)]="circle.coordinate.longitude" [(fillColor)]="circle.comment" [radius]="500" >
              </agm-circle>
              <!--agm-circle [latitude]="lat_circle" [longitude]="long_circle" [fillColor]="weather_color" [radius]="500" >
              </agm-circle-->
            </agm-map>
            <!--button type="button" (click)="Draw()">Load Map</button-->
      </div>
    </div>
    <div class="col-3">
      <form id="map" [formGroup]="publicWeatherForm"  novalidate>
        <div class="row">

          <div class="col">
            <input type="text" class="form-control" placeholder="Search" id="idTxtBusqueda" >
            <div id="idDivRegionesFavoritas" class="form-group">
              <label for="idRegionesFavoritas">Favoritos:</label>
              <div id="idRegionesFavoritas">
                <table class="table">
                  <thead class="thead-dark">
                  <tr>
                    <th scope="col">Localidad</th>
                    <th scope="col">Clima</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let zone of zoneSuscribe">
                    <td>{{zone.zone}}</td>
                    <td>{{zone.weather}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>


  </div>

  <h1 id="titulo" align="center">Publica tu clima!!</h1>
  <div  class="row ">

    <div class="col-md-3 ">
      <div ><img id="cloudy" class="imagenesclima"  src="assets/img/cloudy.png" alt="nublado" (click)="sendReport('cloudy', content)"></div>

    </div>
    <div class="col-md-3 ">
      <div ><img id="sunny" class="imagenesclima"  src="assets/img/sunny.png" alt="soleado"(click)="sendReport('sunny', content)"></div>
    </div>
    <div class="col-md-3 ">
      <div ><img id="rain" class="imagenesclima"  src="assets/img/rain.png" alt="llovisnando" (click)="sendReport('rain', content)"></div>
    </div>
    <div class="col-md-3 ">
      <div ><img id="storm" class="imagenesclima" (click)="sendReport('storm', content)"  src="assets/img/storm.png" alt="tormenta"></div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="jumbotron">
      <h4 class="text-center">{{infoModal}}</h4>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
  </div>

</ng-template>

