<div class="container-fluid" id="" >

  <div class="row">
    <div class="col-3">

      <img width="200" height="200" class="img-responsive center" src="http://ecofundacioncolombia.org/images/Logoo.png" alt="Logo">

    </div>
    <div class="col-6">
      <h1 id="titulo" align="center">Profile</h1>
      <br>
      <form [formGroup]="profileForm"  novalidate>
        <br>

        <div class="row " *ngIf="!isEditable()">

          <div class="col justify-content-center" >

            <label >Name: </label>
            <p id="name2">{{username}}</p>

            <label for="email2">Email: </label>
            <p id="email2">{{useremail}}</p>

          </div>
        </div>
        <div *ngIf="isEditable()" class="row">
          <label for="name">Name: </label>
          <input type="text" [(ngModel)]="username" class="form-control" id="name" formControlName="name" required>

          <label for="email">Email: </label>
          <input  type="email" [(ngModel)]="useremail" class="form-control" id="email" formControlName="email"  required>

          <label for="password">New password: </label>
          <input   type="password" [(ngModel)]="userpass" class="form-control" id="password" formControlName="password" required>
          <br>

          <!-- Image file-->
          <!--img id="imgn" width="300" height="300" src="https://cdn3.iconfinder.com/data/icons/gray-toolbar-3/512/user-512.png"  alt="ProfilePicture">

          <div class="custom-file col-9" >
            <label class="custom-file-label " for="img">Select your picture</label>
            <input class="form-control" formControlName="img" type="file" class="custom-file-input" id="img">

          </div>
          <div-- class="col-3">
            <button  type="submit" class="btn btn-info btn-block btnInit " (click)="saveConfig()">Save</button>
          </div-->


          <label for="image" class="center label">Picture link</label>
          <input type="text" [(ngModel)]="userimage" class="form-control textField center" id="image" formControlName="image">
        </div>
      </form>


    </div>
    <div *ngIf="!isEditable()" class="col-3">

        <img class="img-responsive" width="300" height="300"   [src]="userimage"  alt="ProfilePicture">

    </div>
  </div>

  <div class="row justify-content-center" *ngIf="!isEditable()">
    <div class="col-2" >
      <button type="button" class="btn btn-info btn-block btnInit" (click)="routeToHome()">Home</button>

    </div>
    <div class="col-2">
      <button  type="submit" class="btn btn-info btn-block btnInit  " (click)="edit()">Edit profile</button>
    </div>
  </div>

  <br>

  <div *ngIf="isEditable()" class="row justify-content-center">
    <div class="col-2">
      <button type="button" class="btn btn-info btn-block btnInit center " (click)="routeToProfile()">Profile</button>
    </div>

    <div class="col-2">
      <button  type="submit"  class="btn btn-info btn-block btnInit center " [disabled]="!profileForm.valid" (click)="saveConfig()">Save</button>
      <p class="text-danger mt-1" *ngIf="profileError">{{profileError}}</p>
    </div>

  </div>
</div>
