<div class="container-fluid" id="" >

  <div class="row">
    <div class="col-3">

      <img width="200" height="200" class="img-responsive center" src="http://ecofundacioncolombia.org/images/Logoo.png" alt="Logo">

    </div>
    <div class="col-6">
      <h1 id="titulo" align="center">Profile</h1>
      <br>
      <form [formGroup]="profileForm"  novalidate>
        <br>

        <div class="row " *ngIf="!isEditable()">

          <div class="col justify-content-center" >

            <label for="name2">Name: </label>
            <p id="name2">{{user.name}}</p>

            <label for="email2">Email: </label>
            <p id="email2">{{user.email}}</p>
            <div class="row justify-content-end" >
              <div class="col" >
                <br>
                <button  type="submit" class="btn btn-info btn-block btnInit  " (click)="edit()">Edit profile</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isEditable()" class="row">
          <label for="nameedit">Name: </label>
          <input type="text" [value]="user.name" class="form-control" id="nameedit" formControlName="nameedit" required>

          <label for="emailedit">Email: </label>
          <input  type="email" [value]="user.email" class="form-control" id="emailedit" formControlName="emailedit"  required>

          <label for="paswd">New password: </label>
          <input   type="password" [value]="user.password" class="form-control" id="paswd" formControlName="paswd" required>
          <br>

          <!-- Image file-->
          <!--img id="imgn" width="300" height="300" src="https://cdn3.iconfinder.com/data/icons/gray-toolbar-3/512/user-512.png"  alt="ProfilePicture">

          <div class="custom-file col-9" >
            <label class="custom-file-label " for="img">Select your picture</label>
            <input class="form-control" formControlName="img" type="file" class="custom-file-input" id="img">

          </div>
          <div-- class="col-3">
            <button  type="submit" class="btn btn-info btn-block btnInit " (click)="saveConfig()">Save</button>
          </div-->
          <div class="col-9">
            <label for="image" class="center label">Picture link</label>
            <input type="text" class="form-control textField center" id="image" formControlName="image" required>
          </div>
          <button  type="submit" [value]="user.image" class="btn btn-info btn-block btnInit col-3 " (click)="saveConfig()">Save</button>


        </div>
      </form>
    </div>
    <div *ngIf="!isEditable()" class="col-3">

        <img class="img-responsive" width="300" height="300" id="imguser"  [src]="user.image"  alt="ProfilePicture">

    </div>
  </div>
</div>
